.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 4rem;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 25px 25px 30px;
  border-radius: 10px;
  background-color: rgba(15, 15, 15, 0.7);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1),
    0 10px 20px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffe5ff;
  margin: 25px;
}

form h2 {
  font-size: 30px;
  text-align: center;
  font-family: "titleFont", serif;
}

form .input-box {
  margin-top: 20px;
  font-family: "buttonFont", serif;
}

.input-box .field {
  font-family: "bannerFont", serif;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #ffe5ff;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #ffe5ff;
  margin-top: 8px;
}

.input-box .field.mess {
  height: 200px;
  resize: none;
}

form button {
  width: 100%;
  height: 55px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-top: 25px;
  font-family: "titleFont", serif;
}

button:hover {
  letter-spacing: 3px;
  background-color: #ffe5ff;
  color: rgb(128, 34, 159);
  box-shadow: rgba(147, 50, 180, 0.5) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: rgba(147, 50, 180, 0.5);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
