.masonry-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  overflow: hidden;
}

.masonry-container label{
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99; 
  font-size: 4.5rem;
  -webkit-text-stroke-width: 1px;
  line-height: 1.2;
  color: #ffe5ff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem; /* Add padding to make the background more visible */
  border: 1px solid #ffe5ff;
  border-radius: 5px;
  text-align: center;
  white-space:nowrap;


  
}

.masonry-row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.masonry-image {
  height: auto;
  max-height: 9rem;
  border-radius: 10px;
  object-fit:contain;
  flex-shrink: 0;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .masonry-container label {
    font-size: 3.5rem;
    padding: 12px;
  }
}

@media (max-width: 992px) {
  .masonry-container label {
    font-size: 3rem;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .masonry-container label {
    font-size: 2rem;
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .masonry-container label {
    font-size: 1.5rem;
    padding: 6px;
  }
}

@media (max-width: 380px) {
  .masonry-container{
    height: 50%;
  }
  .masonry-container label {
    font-size: 0.7rem;
    padding: 6px;
  }
}