* {
  box-sizing: border-box;
}

@font-face {
  font-family: "titleFont";
  src: url("/src/assets/fonts/ClashDisplay-Bold.woff") format("woff2"),
    url("/src/assets/fonts/ClashDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "buttonFont";
  src: url("/src/assets/fonts/Chillax-Semibold.woff2") format("woff2"),
    url("/src/assets/fonts/Chillax-Semibold.woff") format("woff");
}

@font-face {
  font-family: "bannerFont";
  src: url("/src/assets/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("/src/assets/fonts/CabinetGrotesk-Variable.woff") format("woff");
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  background: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 40%;
}
