* {
  box-sizing: border-box;
}

@font-face {
  font-family: "titleFont";
  src: url("/src/assets/fonts/ClashDisplay-Bold.otf") format("woff2");
}

@font-face {
  font-family: "buttonFont";
  src: url("/src/assets/fonts/Chillax-Semibold.otf") format("woff2");
}

@font-face {
  font-family: "bannerFont";
  src: url("/src/assets/fonts/CabinetGrotesk-Variable.ttf") format("woff2");
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  background: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 40%;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.section-1 {
  background-color: black;
  background-image: url("/src/assets/studio-portraits/background-removebg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 40%;
  position: relative;
}

#title-home-page {
  font-size: 18rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "titleFont", serif;
  line-height: 1;
  letter-spacing: 0.6rem;
  text-align: left;
  margin: 0;
  position: relative;
  -webkit-text-stroke-width: 1px;
  /*-webkit-text-stroke-color: black;*/
  color: #40e0d0;
  filter: drop-shadow(0 0 0.6rem #40e0d0);
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.fadeIn2 {
  animation-name: fadeIn;
  animation-duration: 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.glass-box {
  height: 10rem;
  width: 35%;
  position: absolute;
  bottom: 17%;
  left: 4rem;
  /*background-color: #a91d8d;
  border-radius: 16px;*/
  background: rgba(169, 29, 141, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1.5px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem;
}

.glass-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.glass-box ul li {
  display: flex;
  align-items: center;
}

.glass-box ul li a {
  text-decoration: none;
  color: white; /* Adjust color as needed */
  margin-left: 0.5rem;
}

.menu-icon {
  color: #40e0d0;
  transition: transform ease-in-out 0.5s;
}

.menu-icon:hover {
  transform: scale(1.5);
}

.images-container {
  margin: 5rem 5rem 0 2rem;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container h2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #40e0d0;
  filter: drop-shadow(0 0 0.6rem #40e0d0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.image-container:hover h2 {
  opacity: 1;
}

.image-menu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #511846;
  position: relative;
  transition: transform ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
}

.image-menu:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px #a91d8d;
}

.menu-container {
  text-align: center;
  position: relative;
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "buttonFont", serif;
  background-color: black;
  color: #a91d8d;
  border: 2px solid #a91d8d;
  padding: 18px 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 101;
}

.toggle-button:hover {
  background-color: #a91d8d;
  color: black;
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.toggle-button.pressed {
  background-color: #a91d8d;
  color: black;
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 8px;
}

.menu {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  position: fixed; /* Anchor menu to the screen */
  top: 0;
  left: 0;
  width: 100%; /* Full width for proper centering */
  height: 100%; /* Full height to occupy the screen */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
  z-index: 100; /* Ensure it's above other content */
}

.menu-list {
  list-style: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack items */
  gap: 20px; /* Add spacing between items */
}

.menu-list li a {
  text-decoration: none; /* Remove underline */
  color: #a91d8d; /* Vibrant color for menu items */
  font-family: "buttonFont", serif;
  font-size: 32px; /* Larger font for a "main menu" look */
  letter-spacing: 3px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-list li a:hover {
  color: #a91d8d; /* Darker shade on hover */
  text-shadow: 0px 4px 6px rgba(169, 29, 141, 0.8); /* Glow effect on hover */
}

#banner {
  display: flex;
  height: 5rem;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgb(46, 31, 43);
  background: linear-gradient(
    86deg,
    rgba(46, 31, 43, 1) 0%,
    rgba(31, 11, 27, 1) 35%
  );
  /*background-color:#1f0b1b;*/
}

#banner h1 {
  font-family: "bannerFont", serif;
  font-size: 2rem;
  cursor: pointer;
  color: #40e0d0;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 3rem 1.2rem;
  margin-top: 0;
}

.gallery .pics {
  /*-webkit-transition: all 350ms ease;
  transition: all 350ms ease;*/
  transition: filter 350ms ease, box-shadow 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  will-change: filter, box-shadow;
}

.gallery .pics:hover {
  /*filter: opacity(0.7);*/

  filter: brightness(0.6); /* Darkens the image slightly */
  box-shadow: 0.5px 1px 5px #40e0d0;
}

.photo-item {
  width: 100%;
  image-rendering: auto;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #125b57;
  cursor: pointer;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

#hidden {
  visibility: hidden;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Stack items vertically */
  }

  .menu-list {
    flex-direction: column; /* Stack links */
    gap: 10px; /* Adjust spacing for smaller screens */
  }
  .menu-list li a {
    font-size: 28px;
  }
  #title-home-page {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
  }
  #banner {
    margin-top: 12rem;
    margin-bottom: 2rem;
    background-color: black;
  }
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  #title-home-page {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
  }
  #banner {
    margin-top: 12rem;
    margin-bottom: 2rem;
    background-color: black;
  }
  .glass-box{
    width: 13rem;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
  #title-home-page {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
  }
  #banner {
    margin-top: 12rem;
    margin-bottom: 2rem;
    background-color: black;
  }

  .glass-box ul {
    flex-direction: column;
  }

  .glass-box{
    height: 13rem;
  }

  
}
